*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#nav{
    margin-bottom: 1.5rem;
}

#nav a{
    font-size: 1.5rem;
    font-weight: bold;
}

.search-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
}

.col{
    display: flex;
}

.card{
    display: flex;
    width: 100%;
    box-shadow: -1px 10px 20px 6px rgba(0, 0, 0, 0.58);
}

.card-text{
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3; /*No of lines after which the ellipsis needs to be added*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#card-group{
    display: flex;
    margin-left: auto;
    margin-right: auto;  
}

.footer{
    display: flex;
}

.footer button{
    display: flex;
    flex-grow: 1;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

#modal-title{
    font-weight: bold;
    font-size: 1.8rem;
}

.modal-inner-1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.modal-inner-2{
    font-weight: 300;
    font-size: 0.8rem;
}

#modal-summary{
    font-weight: 300;
    font-size: 0.8rem;
}

